
.skills {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint-pc () {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.skill-item {
  width: 25%;

  @include breakpoint-pc () {
    width: unset;
  }
}

.skill-item--orange {
  .skill-item__graph-indicator {
    background: $color-secondary-weak;
  }
}

.skill-item__graph {
  display: none;
  position: relative;
  height: 180px;
  width: 8px;
  margin: auto;

  @include breakpoint-pc () {
    display: block;
  }
}

.skill-item__graph-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $color-primary;
  transform-origin: bottom;
  transform: scaleY(0);
}

.skill-item__icon {
  margin-top: 8px;
}