.career {
}

.career-item {
  display: flex;
}

.career-item--expand {
  .career-item__left::after {
    content: "";
    position: absolute;
    width: 24px;
    height: unset;
    border-radius: 0;
    left: 16px;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, var(--color-white) 100%);
  }
}

.career-item__left {
  display: none;
  position: relative;

  @include breakpoint-pc() {
    display: block;
    width: 64px;
  }

  // ライン
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 26px;
    width: 2px;
    background: #e1f5e9;
    background: var(--color-primary-weak);
  }

  // 丸
  &::after {
    content: "";
    position: absolute;
    background: #e1f5e9;
    background: var(--color-primary-weak);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 19px;
    top: 20px;
  }
}

.career-item__right {
  flex: 1;
  padding: 16px 0 24px;
}

.career-item__title {
  line-height: 1.5;
  display: inline-block;
}

.career-item__period {
  float: right;
  margin-top: 4px;
  color: #aaa;
  color: var(--color-text-secondary-weak);

  @include breakpoint-pc() {
    display: inline-block;
    float: none;
    margin-top: 0;
    margin-left: 8px;
  }
}

.career-item__text {
  margin-top: 16px;
}

.career-item__expand-text {
  display: none;
}

.career-item__expand-link {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;

  img {
    transition: transform $transition-base;
  }
}

.career-collapse {
  height: 0;
  overflow: hidden;
}

.career-collapse--open {
  // height: auto;

  + .career-item--expand {
    .career-item__expand-link img {
      transform: rotate(180deg);
    }

    .career-item__left::after {
      content: "";
    }

    .career-item__expand-text {
      display: inline;
    }

    .career-item__collapse-text {
      display: none;
    }
  }
}
