
.saying {
  font-family: $font-saying;
  font-weight: 400;
  font-style: normal;
  color: #707070;
}

.headline {
  font-family: $font-eng;
  font-weight: 100;
  font-size: 32px;
  color: #333;
}

.sub-headline {
  font-family: $font-jp;
  font-weight: 500;
  font-size: 16px;
  color: #333;
}

.text {
  font-family: $font-jp;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  color: #707070;
}