.container {
  position: relative;
  margin: auto;
  padding: 0 20px;
  width: 100%;
  min-width: $container-width-sp;
  max-width: 640px;

  @include breakpoint-pc() {
    width: $container-width-pc;
    max-width: none;
    // padding: 0;
  }
}

.container--sm {
  @include breakpoint-pc() {
    min-width: 640px;
    width: 640px;
  }
}

/**
* Loading
**/
.l-loading {
  background: #fff;
  background: var(--color-white);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $transition-base;
}

.l-loading--completed {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

/**
* header
**/

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  background: var(--color-white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  z-index: 99;
}

.l-header__inner {
  height: 48px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.l-header__logo {
  width: 48px;
  padding: 8px;
  position: relative;
  z-index: 111;

  a {
    display: block;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 100%;
    }
  }
}

.l-header__nav {
  @include breakpoint-sp() {
    position: fixed;
  }

  ul {
    @include breakpoint-pc() {
      display: flex;
      position: relative;
      height: 100%;
    }

    @include breakpoint-sp() {
      background: #fff;
      background: var(--color-white);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 80px 16px 16px;
      box-shadow: 0 0 8px #888;
      box-shadow: 0 0 8px var(--color-shadow);
      pointer-events: none;
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    }
  }
}

.l-header__navarea {
}

.l-header__nav-overlay {
  display: none;
}

.l-header__nav-item {
  a {
    position: relative;
    color: #555;
    color: var(--color-text-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    padding: 0 16px;
    height: 100%;
    min-width: 96px;
    text-decoration: none;
    font-family: $font-eng;
    font-size: 18px;
    font-weight: 200;
    transition: background-color $transition-base;

    @include breakpoint-sp() {
      margin: 16px 0;
      padding: 16px 16px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #72ad8c;
      background: var(--color-primary);
      transform: scaleX(0);
      transition: transform $transition-base;
    }

    &:hover {
      background: #f5f5f5;
      background: var(--color-base);
    }
  }
}

.l-header__nav-item--active {
  a {
    &::after {
      transform: scaleX(1);
    }
  }
}

.l-header__burger {
  padding: 8px;
  position: relative;
  z-index: 111;

  @include breakpoint-pc() {
    display: none;
  }
}

.l-header__burger-button {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;

  span {
    position: absolute;
    width: 24px;
    height: 1px;
    background: #555;
    background: var(--color-text-black);
    left: 4px;
    transition: transform $transition-base;

    &:nth-child(1) {
      top: 8px;
    }

    &:nth-child(2) {
      top: 16px;
    }

    &:nth-child(3) {
      top: 24px;
    }
  }
}

.l-header__burger--open {
  span {
    &:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }

    &:nth-child(2) {
      transform: rotate(90deg) scale(0);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }

  + .l-header__nav {
    .l-header__nav-overlay {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    ul {
      pointer-events: initial;
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

/**
* Main
**/
.l-main {
  position: relative;
  padding-bottom: 40px;

  @include breakpoint-pc() {
    padding-bottom: 160px;
  }
}

.l-main__scroll-down {
  position: absolute;
  top: -40px;
  left: calc(50% - 46px);

  img {
    width: 46px;
  }
}

.l-main--child {
  padding-top: 48px;
}

/**
* Top
**/

.l-top {
  display: flex;
}

.l-top__left {
  display: none;
  margin-right: 24px;
  width: 33.3333333%;

  @include breakpoint-pc() {
    display: block;
  }
}

.l-top__left-sticky {
  position: sticky;
  top: 0;
  padding: 80px 0 40px;
}

.l-top__right {
  @include breakpoint-pc() {
    width: 66.666666667%;
  }
}

/**
* footer
**/
.l-footer {
  display: flex;
  position: relative;
  overflow: hidden;
}

.l-footer__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../public/images/bg-hero.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  @include darkmode() {
    background-image: url("../../public/images/bg-hero-dark.jpg");
  }
}

.l-footer__left {
  float: left;
  padding-top: 40px;

  img {
    width: 60px;
  }
}

.l-footer__right {
  padding: 60px 0;
}

/**
* Grid
**/
.row {
  @include clearfix();
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@include breakpoint-sp() {
  .column,
  .columns {
    width: 100% !important;
    margin-left: 0;
  }
}

@include breakpoint-pc() {
  .column,
  .columns {
    margin-left: 20px;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: calc(8.3333333333% - 10px);
  }
  .two.columns {
    width: calc(16.6666666667% - 10px);
  }
  .three.columns {
    width: calc(25% - 10px);
  }
  .four.columns {
    width: calc(33.3333333333% - 10px);
  }
  .five.columns {
    width: calc(41.6666666667% - 10px);
  }
  .six.columns {
    width: calc(50% - 10px);
  }
  .seven.columns {
    width: calc(58.3333333333% - 10px);
  }
  .eight.columns {
    width: calc(66.6666666667% - 10px);
  }
  .nine.columns {
    width: calc(75% - 10px);
  }
  .ten.columns {
    width: calc(83.3333333333% - 10px);
  }
  .eleven.columns {
    width: calc(91.6666666667% - 10px);
  }
  .twelve.columns {
    width: calc(100% - 10px);
    margin-left: 0;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: calc(8.3333333333% - 10px);
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
