@mixin breakpoint-pc() {
  @media (min-width: $breakpoint-sp) {
    @content;
  }
}
@mixin breakpoint-sp() {
  @media (max-width: $breakpoint-sp - 1px) {
    @content;
  }
}

@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
