.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint-pc() {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.skill-item {
  width: 25%;
  min-width: 100px;
  margin: 24px 16px;

  @include breakpoint-pc() {
    width: unset;
    min-width: unset;
    margin: 0;
  }
}

.skill-item--orange {
  .skill-item__graph-indicator {
    background: #fac3be;
    background: var(--color-secondary-weak);
  }
}

.skill-item__graph {
  display: none;
  position: relative;
  height: 180px;
  width: 8px;
  margin: auto;

  @include breakpoint-pc() {
    display: block;
  }
}

.skill-item__graph-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #72ad8c;
  background: var(--color-primary);
  transform-origin: bottom;
  transform: scaleY(0);
}

.skill-item__icon {
  margin: 8px 0 0;

  position: relative;
  overflow: visible;

  img {
    margin: auto;
  }
}

.skill-item__circle-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint-pc() {
    display: none;
  }
}
