* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #555;
}

a {
  color: $color-text-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix();
}