
.button {
  font-family: $font-jp;
  width: 120px;
  color: #fff;
  height: 40px;
  background: $color-primary;
  font-size: 16px;
  border: none;
  border-radius: 0;
  transition: background-color $transition-base;
  cursor: pointer;

  @include breakpoint-sp () {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
  }

  &:hover {
    background: darken($color-primary, 10)
  }
}