
.saying {
  font-family: $font-saying;
  font-weight: 400;
  font-style: normal;
}

.headline {
  font-family: $font-eng;
  font-weight: 100;
  font-size: 32px;
  color: #707070;
}

.sub-headline {
  font-family: $font-jp;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #707070;
}