.container {
  padding: 0 10px;
  width: 80%;
  min-width: $container-width-sp;
  max-width: 640px;

  @include breakpoint-pc () {
    width: $container-width-pc;
    max-width: none;
  }
}

.container--sm {
  min-width: 640px;
}

/**
* header
**/

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.l-header__inner {
  height: 48px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.l-header__logo {
  a {
    padding: 8px;
    display: block;
    width: 48px;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 100%;
    }
  }
}

.l-header__nav {
  display: flex;
  
}

.l-header__nav-item {
  a {
    color: $color-text-black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    padding: 0 16px;
    height: 100%;
    min-width: 96px;
    text-decoration: none;
    font-family: $font-eng;
    font-size: 18px;
    font-weight: 100;
    transition: background-color $transition-base;

    &:hover {
      background: $color-base;
    }
  }
}

.l-header__nav-item--active {
  a {
    border-bottom: 2px solid $color-primary;
  }
}

/**
* Main
**/
.l-main {
  position: relative;
  padding-bottom: 160px;
}

.l-main__scroll-down {
  position: absolute;
  top: -40px;
  left: calc(50% - 46px);

  img {
    width: 46px;
  }
}

/**
* Top
**/

.l-top {
  display: flex;
}

.l-top__left {
  margin-right: 24px;
  width: 33.3333333%;

  @include breakpoint-sp () {
    display: none;
  }
}

.l-top__left-sticky {
  position: sticky;
  top: 0;
  padding: 80px 0 40px;
}

.l-top__right {
  width: 66.666666667%;
}

/**
* footer
**/
.l-footer {
  display: flex; 
  position: relative;
  overflow: hidden;
}

.l-footer__bg {
  position: absolute;
  top: -100vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.l-footer__left {
  float: left;
  padding-top: 40px;

  img {
    width: 60px;
  }
}

.l-footer__right {
  padding: 60px 0;
}

/**
* Grid
**/
.row {
  @include clearfix();
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}


@include breakpoint-sp () {
  .column,
  .columns {
    width: 100% !important;
    margin-left: 0;
  }
}

@include breakpoint-pc () {
  .column,
  .columns {
    margin-left: 20px; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: calc( 8.3333333333% - 10px); }
  .two.columns                    { width: calc(16.6666666667% - 10px); }
  .three.columns                  { width: calc(25% - 10px); }
  .four.columns                   { width: calc(33.3333333333% - 10px); }
  .five.columns                   { width: calc(41.6666666667% - 10px); }
  .six.columns                    { width: calc(50% - 10px);  }
  .seven.columns                  { width: calc(58.3333333333% - 10px); }
  .eight.columns                  { width: calc(66.6666666667% - 10px); }
  .nine.columns                   { width: calc(75% - 10px);;          }
  .ten.columns                    { width: calc(83.3333333333% - 10px); }
  .eleven.columns                 { width: calc(91.6666666667% - 10px); }
  .twelve.columns                 { width: calc(100% - 10px); margin-left: 0; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}