
.profile {

}

.profile__icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: auto;

  img {
    width: 120px;
    height: 120px;
  }
}

.profile__name {
  margin-top: 16px;
  text-align: center;
  font-family: $font-eng;
  font-weight: 100;
  font-size: 32px;
  color: #333;
}

.profile__text {

}

.profile__pop {
  position: relative;
  margin-top: 16px;
  background: $color-base;
  padding: 16px;
  border-radius: 8px;

  &::before {
    position: absolute;
    content: "";
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $color-base;
    top: -16px;
    left: calc(50% - 16px);
  }
}

.sns-links {
  margin: 16px auto 24px;
  display: flex;
  justify-content: space-between;
  width: 230px;

  @include breakpoint-pc () {
    width: 172px;
  }
}

.sns-links-item {
  &:hover {
    opacity: 0.8;
  }
}