
.skills {
  display: flex;
  justify-content: space-between;
}

.skill-item {

}

.skill-item--orange {
  .skill-item__graph-indicator {
    background: $color-secondary-weak;
  }
}

.skill-item__graph {
  position: relative;
  height: 180px;
  width: 8px;
  margin: auto;
}

.skill-item__graph-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $color-primary;
  transform-origin: bottom;
  transform: scaleY(0);
}

.skill-item__icon {
  margin-top: 8px;
}